@media (max-width: 1200px) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    .btn-nav {
        font-size: 14px;
    }
    .phone {
        h4 {
            font-size: 16px;
        }
    }

    .step-map p {
        font-size: 130px;
    }
}

@media (max-width: 992px) {
    header {
        .container {
            max-width: initial;
        }
    }
    .card h2 {
        font-size: 29px;
    }
    .guarantees h3 {
        font-size: 25px;
    }
    .collage {
        display: flex;
        justify-content: center;
        align-items: end;
        min-height: 1050px;
        .collage-img {
            max-width: 900px;
            top: 10%;
            left: 0;
            z-index: -1;
        }
        .post {
            position: initial;
            max-width: 625px;
        }
    }

    .step-map {
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 100px;
        }
    }

    .rev {
        flex-flow: column;
        .rev-1 {
            order: 1;
        }
        .rev-2 {
            order: 2;
        }
    }
    .services-content {
        max-width: 100%;
    }

    .services ul {
        margin-left: 25px;
        li {
            padding-bottom: 5px;
        }
    }

    .footer {
        .container {
            grid-template-columns: 1fr 0;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 10px;
        }
        .social {
            grid-row: 2;
            a {
                margin: 0 10px;
            }
        }
        .year {
            grid-row: 3;
        }
    }
    .logo {
        p {
            letter-spacing: 5px;
        }
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    .even {
        margin-top: 0;
    }

    .collage {
        min-height: 950px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #000;
    }

    .swiper-scrollbar-horizontal {
        height: 7px !important;
        background-color: #fff;
    }

    .swiper-scrollbar {
        border: 2px solid $dark-bg;
    }

    .swiper-scrollbar-drag {
        background-color: $red;
        top: -3px;
        left: -2px;
        height: 8px;
    }
}

@media (max-width: 576px) {
    .preview {
        padding: 100px 0;
    }
    .guarantees-grid {
        overflow-x: auto;
    }
}